@font-face {
  font-family: 'JetBrainsMono';
  /* src: url('./font/JetBrainsMono-Light.ttf') format('truetype'); */
  src: local('JetBrainsMono'), url(./font/JetBrainsMono-SemiBold.ttf) format('ttf');
}

body {
  margin: 0;
  font-family: 'JetBrainsMono', monospace;
  /* font-weight: 600; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #0a0c10 !important;
  color: white !important;
}

#root{
  font-family: 'JetBrainsMono', monospace;
  font-weight: bold;
}


a{
  color: #61dafb;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.left-form{
  display: flex;
  justify-content: space-around;
}

.border{
  border: 1px solid white;
}

